<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/QA/PetStoreRestAssured/src/test/java/api/tests">
        <classes>
            <class name="api.tests.Data_Driven_Tests">
                <methods>
                    <include name="testPostUser"/>
                    <include name="testDeleteUser"/>
                </methods>
            </class>
            <class name="api.tests.User_Tests">
                <methods>
                    <include name="testPostUser"/>
                    <include name="testGetUser"/>
                    <include name="testUpdateUser"/>
                    <include name="testDeleteUser"/>
                </methods>
            </class>
            <class name="api.tests.User_Tests2">
                <methods>
                    <include name="testPostUser"/>
                    <include name="testGetUser"/>
                    <include name="testUpdateUser"/>
                    <include name="testDeleteUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>